# Generate your own secret key
SECRET_KEY="your-secret-key"

# True for development, False for production
DEBUG=True

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_NAME=booking_service
PG_USER=admin
PG_PASS=your-password

#JWT
JWT_ALGORITHM=HS256
ACCESS_TOKEN_LIFETIME_MINUTES=120
REFRESH_TOKEN_LIFETIME_MINUTES=72000

#email-notification
EMAIL_HOST_USER=your-email_for_app
EMAIL_HOST_PASSWORD="your-app-password"
EMAIL_HOST_PASSWORD_FOR_EMAIL=you-password
